
*.exe

*.exe

*.mdb

*.mdb

*.exe

AbstractSausageSim/bin
AbstractSausageSim/bin/
AbstractSausageSim/bin/*.*
AbstractSausageSim/bin/*

*.mdb

AbstractSausageSim/bin/Debug/AbstractSausageSim.exe

AbstractSausageSim/bin/Debug/AbstractSausageSim.exe.mdb

AbstractSausageSim/obj/x86/Debug/AbstractSausageSim.exe

AbstractSausageSim/obj/x86/Debug/AbstractSausageSim.exe.mdb

mid
output
*.gv

*.gv

*.pdf